<div class="video-container">

	{% case include.type %}
	{% when 'youtube' %}<iframe width="560" height="315" id="yt_{{include.video}}"
		src="https://www.youtube.com/embed/{{include.video}}?controls=0&enablejsapi=1" frameborder="0"></iframe>
	{% when 'local' %}
	<video src="{{site.url}}/assets/videos/{{include.video}}" type="video/mp4"></video>
	{% else %}
	<video src="{{include.video}}" type="video/mp4"></video>
	{% endcase %}
	<div class="video-controls">
		<header>
			<span class="video-title">Hello World</span>
			<span class="date">Date</span>
		</header>
		<main>
			<p>This is some nice text. I might put a progress bar here</p>
		</main>
		<footer class="colors">
			<a href="#" class="red play-pause">Play/Pause</a>
			<a href="#" class="green mute">Mute</a>
			<a href="#" class="blue fullscreen">Fullscreen</a>
		</footer>
	</div>
</div>
