---
layout: null
---
<html>

<head>
	<link rel="stylesheet" href="{{site.url}}/assets/css/sky.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	{% for css in page.css %}
	<link rel="stylesheet" href="{{site.url}}/assets/css/{{css}}">
	{% endfor %}
</head>

<body>
	<div class="container">

		<header class="nav">
			<div class="header-logo">
				<img src="{{site.url}}{{site.sky-logo}}" alt="" id="sky_logo">
				<label for="sky_logo">guide</label>
			</div>
			{% if page.home %}
			<nav>
				{% for link in site.data.nav %}
				<a href="{% if link.local %}{{site.url}}{% endif %}{{link.url}}"
					class="header-item  {% if page.url contains link.url %}active{% endif %}">
					<img src="{{site.url}}{{link.img}}" alt="{{link.rel}}-logo" id="{{link.rel}}">
					<label for="{{link.rel}}-logo">{{link.title}}</label>
				</a>
				{% endfor %}
			</nav>
			{% else %}
			<div class="page-title">
				{% if page.time %}
				<script>document.write(new Date().toLocaleString())</script>{% endif %}
				</p>
				<h1>{{page.title}}</h1>
			</div>
			{% endif %}
		</header>
		<main>

			{% assign content_test = page.content | strip_newlines %}
			{% if content_test != "" %}
			<div class="page">
				{{content}}
			</div>
			{% endif %}

			{% if page.list %}
			<div class="item-list">
				{% for link in page.list %}
				<a href="{% if link.local %}{{site.url}}{% endif %}{{link.href}}">{{link.title}}</a>
				{% endfor %}
			</div>
			{% endif %}
		</main>

	</div>

	<script src="https://tumble1999.github.io/sky-games/assets/js/menu.js"></script>
	<script src="{{site.url}}/assets/js/script.js"></script>
	{% for js in page.js %}
	<script src="{{site.url}}/assets/js/{{js}}"></script>
	{% endfor %}
	<script src="https://tumble1999.github.io/sky-games/assets/js/sky-remote.js"></script>
</body>

</html>
