---
layout: null
---
<html>

<head>
	<link rel="stylesheet" href="{{site.url}}/assets/css/sky.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	{% for css in page.css %}
	<link rel="stylesheet" href="{{site.url}}/assets/css/{{css}}">
	{% endfor %}
</head>

<body>
	{% if page.video %}
	{% include video.html title=page.title type=page.type video=page.video channel=page.channel %}
	{% else %}
	<div class="container">
		<header class="nav">
			<a href="{{site.url}}" class="header-logo">
				<span>STB</span>
				<span>gaming</span>
			</a>
			{% if page.home %}
			<nav>
				{% for link in site.data.nav %}
				<a href="{% if link.local %}{{site.url}}{% endif %}{{link.url}}"
					class="header-item  {% if page.url contains link.url %}active{% endif %}">
					<img src="{{site.url}}{{link.img}}" alt="{{link.rel}}-logo" id="{{link.rel}}">
					<label for="{{link.rel}}-logo">{{link.title}}</label>
				</a>
				{% endfor %}
			</nav>
			{% else %}
			<div class="page-title">
				{% if page.time %}
				<script>document.write(new Date().toLocaleString())</script>{% endif %}
				</p>
				<h1>{{page.title}}</h1>
			</div>
			{% endif %}
		</header>

		<main>
			{% if page.test %}
			{{content}}
			{% else %}

			{% assign content_test = page.content | strip_newlines %}
			{% if content_test != "" %}
			<div class="page">
				{{content}}
			</div>
			{% endif %}

			{% comment %}
			{% if page.list %}
			<div class="menu">
				{% for link in page.list %}
				<a href="{% if link.local %}{{site.url}}{% endif %}{{link.href}}">{{link.title}}</a>
				{% endfor %}
			</div>
			{% endif %}
			{% endcomment %}
			{% if page.list %}
			{% include list.html collection=page.list.collection filter=page.list.filter limit=page.list.limit items=page.list.items type=page.list.type %}
			{% endif %}
			{% endif %}
		</main>
		<footer>
			<span class="colors">
			</span>
			{% unless page.home %}
			<p class="actions">Press <a href="javascript:pressBack()" class="backup">BACK UP</a> to return</p>
			{% endunless %}
		</footer>
	</div>
	{% endif %}

	<script src="https://stb-gaming.github.io/sky-games/assets/js/menu.js"></script>
	<script src="{{site.url}}/assets/js/script.js"></script>
	{% for js in page.js %}
	<script src="{{site.url}}/assets/js/{{js}}"></script>
	{% endfor %}
	<script src="https://stb-gaming.github.io/assets/js/epg.js"></script>
	<script src="https://stb-gaming.github.io/sky-games/assets/js/sky-remote.js"></script>
</body>

</html>
